<form id="book-search-form" class="form-wrapper" >
    <input type="text" id="search-text" placeholder="Search for..." required>
    <input type="submit" value="Search" id="submit">
</form>

<table border="1" style="width:100%">
    <thead>
    <tr>
        <th>Title</th>
        <th>Sub-Title</th>
        <th>Pages</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody id="table-body"></tbody>
</table>

<script type="text/template" id="book-template">
    <td><%= title %></td>
    <td><%= subtitle %></td>
    <td><%= number_of_pages %></td>
    <td><%= url %></td>
</script>
